@import url(//fonts.googleapis.com/css?family=Arimo:400italic,400,700italic,700);
@import url(//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);
@font-face{font-family:Title; src:url(../fonts/xirod.ttf) format("truetype"); font-style:normal; font-weight:400}
@font-face{font-family:Header; src:url(../fonts/neuropolitical.ttf) format("truetype"); font-style:normal; font-weight:400}